// If you just import on demand, you can ignore the following content.
// if you want to import all styles:
@use "element-plus/theme-chalk/src/index.scss" as *;

.el-button {
  color: var(--el-button-bg-color);
  background-color: transparent;

  span {
    font-family: "Alegreya", serif;
    font-weight: 700;
  }
}
