h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

span {
  color: var(--color-text);
}

.small-caps {
  font-variant: all-small-caps;
  font-weight: 700;
  font-style: normal;
}

.font-normal {
  font-style: normal;
  text-transform: capitalize;
}

.font-small-italic {
  font-variant: all-small-caps;
  text-transform: capitalize;
  font-style: italic;
}

.font-uppercase {
  text-transform: uppercase;
  font-style: normal;
}

.font-small {
  font-variant: all-small-caps;
  text-transform: capitalize;
}
